{% extends "blog/base.html "%}
{% load static %}
{% block content %}
<!--Home page style-->
<header id="home" class="home">
    <div class="overlay-fluid-block">
        <div class="container text-center">
            <div class="row">
                <div class="home-wrapper">
                    <div class="col-md-10 col-md-offset-1">
                        <div class="home-content">

                            <h1>Indonesia Lost and Found Platform</h1>
                            <p>Blue Lance transforms your company's data into rich visuals for you to collect and
                                organize so you can focus on what matters to you. Stay in the know, spot trends as
                                they happen, and push your business further.</p>

                            <div class="row">
                                <div class="col-md-6 col-md-offset-3 col-sm-12 col-xs-12">
                                    <div class="home-contact">
                                        <form action="{%url 'blog-search'%}" method="GET" class="input-group">
                                            <input id='search_box' name='search_box' type="text" class="form-control" placeholder="Enter your item here">
                                            <input type="submit" class="form-control" value="Search">
                                        </form>
                                    </div>

                                    <a style="margin-top: 10px" class="btn btn-primary btn-lg" href="{% url 'blog-search-types' 1 %}">Lost
                                        Something</a>
                                    <a style="margin-top: 10px" class="btn btn-primary btn-lg" href="{% url 'blog-search-types' 2 %}">Found
                                        Something</a>

                                </div>
                            </div>


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Sections -->
<section id="features" class="features sections">
    <div class="container">
        <div class="row">
            <div class="main_features_content2">

                <div class="col-sm-6">
                    <div class="single_features_left text-center">
                        <img src="{% static 'images/pic.jpg' %}" alt="" />
                    </div>
                </div>

                <div class="col-sm-6 margin-top-60">
                    <div class="single_features_right ">
                        <h2>OUR PRODUCT</h2>
                        <p>Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum. Duis mollis, est non
                            commodo luctus, nisi erat porttitor ligula.</p>
                        <ul>
                            <li>Quisque volutpat mattis eros.</li>
                            <li>Nullam malesuada erat ut turpis.</li>
                            <li>Suspendisse urna nibh.</li>
                        </ul>
                        <div class="features_buttom">
                            <a href="" class="btn btn-default">Read More</a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
<!--End of Features 2 Section -->
<section id="features" class="features sections">
    <div class="container">
        <div class="row">
            <div class="main_features_content2">



                <div class="col-sm-6 margin-top-60">
                    <div class="single_features_right ">
                        <h2>PRODUCT DESCRIPTIONS</h2>
                        <p>Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum. Duis mollis, est non
                            commodo luctus, nisi erat porttitor ligula.</p>
                        <ul>
                            <li>Quisque volutpat mattis eros.</li>
                            <li>Nullam malesuada erat ut turpis.</li>
                            <li>Suspendisse urna nibh.</li>
                        </ul>
                        <div class="features_buttom">
                            <a href="" class="btn btn-default">Read More</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="single_features_left text-center">
                        <img src="{% static 'images/pic2.png' %}" alt="" />
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
<!--End of Features 2 Section -->


<section id="service" class="service2 sections lightbg">
    <div class="container">
        <div class="row">
            <div class="main_service2">
                <div class="head_title text-center">
                    <h2>SERVICES WE PROVIDE</h2>
                    <p>condimentum. Duis mollis, est non commodo luctus, nisi erat porttitor ligula.</p>
                </div>

                <div class="service_content">
                    <div class="col-md-6 col-sm-6">
                        <div class="single_service2">
                            <div class="single_service_left">
                                <img src="{% static 'images/flaticon1.png' %}" alt="" />
                            </div>
                            <div class="single_service_right">
                                <h2>Branding</h2>
                                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6">
                        <div class="single_service2">
                            <div class="single_service_left">
                                <img src="{% static 'images/flaticon2.png' %}" alt="" />
                            </div>
                            <div class="single_service_right">
                                <h2>Branding</h2>
                                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6">
                        <div class="single_service2">
                            <div class="single_service_left">
                                <img src="{% static 'images/flaticon3.png' %}" alt="" />
                            </div>
                            <div class="single_service_right">
                                <h2>Branding</h2>
                                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6">
                        <div class="single_service2">
                            <div class="single_service_left">
                                <img src="{% static 'images/flaticon4.png' %}" alt="" />
                            </div>
                            <div class="single_service_right">
                                <h2>Branding</h2>
                                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section><!-- End of Service2 Section -->

<section id="contact" class="contact sections">
    <div class="container">
        <div class="row">
            <div class="main_contact whitebackground">
                <div class="head_title text-center">
                    <h2>GET IN TOUCH</h2>
                    <p>Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum. Duis mollis, est non
                        commodo luctus, nisi erat porttitor ligula.</p>
                </div>
                <div class="contact_content">
                    <div class="col-md-6">
                        <div class="single_left_contact">
                            <form action="#" id="formid">

                                <div class="form-group">
                                    <input type="text" class="form-control" name="name" placeholder="first name"
                                        required="">
                                </div>

                                <div class="form-group">
                                    <input type="email" class="form-control" name="email" placeholder="Email" required="">
                                </div>


                                <div class="form-group">
                                    <textarea class="form-control" name="message" rows="8" placeholder="Message"></textarea>
                                </div>

                                <div class="center-content">
                                    <input type="submit" value="Submit" class="btn btn-default">
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="single_right_contact">
                            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque
                                volutpat mattis eros. Nullam malesuada erat ut turpis. Suspendisse urna nibh,
                                viverra non, semper suscipit, posuere a, pede.</p>

                            <div class="contact_address margin-top-40">
                                <span>1600 Pennsylvania Ave NW, Washington,</span>
                                <span>DC 20500, United States of America.</span>
                                <span class="margin-top-20">T: (202) 456-1111</span>
                                <span>M: (202) 456-1212</span>
                            </div>

                            <div class="contact_socail_bookmark">
                                <a href=""><i class="fa fa-facebook"></i></a>
                                <a href=""><i class="fa fa-twitter"></i></a>
                                <a href=""><i class="fa fa-google"></i></a>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section><!-- End of Contact Section -->
{% endblock content %}