{% extends 'blog/base.html' %}    <!-- Sections -->
{% load leaflet_tags %}
{% block content %}
<style type="text/css">
    .button1 {
        background-color: #5bc0de;
        border: none;
        color: white;
        padding: 10px 25px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
    }

    .button2 {
        background-color: #d9534f;
        border: none;
        color: white;
        padding: 10px 25px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
    }

    .button3 {
        background-color: #1CB94E;
        border: none;
        color: white;
        padding: 10px 25px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
    }


</style>

    <section id="business" class="portfolio sections2">
          <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="breadcrumb">
                        <div class="pull-right">
                            <form action="{%url 'blog-search'%}" method="GET">
                                <input type="text" placeholder="Search.." name="search_box" id="search_box">
                                <button type="submit"><i class="fa fa-search"></i></button>
                            </form>
                        </div>
                        <ol class="breadcrumb" style="height:100%;">
                            <li><a href="/">Home</a></li>
                            <li><a href="{% url 'blog-search-types' post.idTypes.pk %}">{{post.idTypes.name}}</a></li>
                            <li><a href="{% url 'blog-search-cat' post.idCategories.pk %}">{{post.idCategories.name}}</a></li>
                            <li class="active">Sepatu Adidas</li>
                        </ol>
                    </div>
                </div>
            </div>
           </div>

          <div class="container">
                <div class="row">
                    <!--1-->
                    <div class="col-md-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                   <!-- <div class="pull-right">
                                        <button type="button" class="close" aria-label="Close">
                                          <span aria-hidden="true">×</span>
                                        </button>
                                    </div>-->
                            </div>

                            <div class="panel-body"> 
                                <img src="{{post.image.url}}"  width="100%" height="270" style="margin-bottom: 10px">
                                <div class="col-md-9">
                                     <h3>{{post.title}}</h3>
                                     <h5>Bandung, Jawa Barat</h5>
                                </div>

                                <div class="col-md-3 pull-right">
                                    {% if user.is_authenticated  and user == post.idUsers %}
                                        <a class="button1" href="{% url 'blog-edit' idPost=post.pk %}">EDIT</a>    
                                        <a class="button2" href="{% url 'blog-delete' idPost=post.pk %}">Delete</a>   
                                    {% endif %}
                                </div>
                                
                            </div>
                        </div>
                    </div>
                    <!--end1-->
                    
                    <!--2-->
                    <div class="col-md-12">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <div class="col-md-9">
                                    <div class="col-md-4">
                                        <p><b>CATEGORY</b></p>
                                        <P>{{post.idCategories.name}}</P>
                                        <p><b>TYPE</b></p>
                                        <P>{{post.idTypes.name}}</p>
                                    </div>
            
                                    <div class="col-md-4">
                                        <!--<p><b>FOUND BY</b></p>
                                        <p>{{post.idUsers.username}}</p>-->
                                        
                                    </div>
            
                                    <div class="col-md-4">
                                        <p><b>TIME</b></p>
                                        <p>{{post.createdDate}}</p>
                                    </div>
            
                                </div>
                                
                                <div class="col-md-3">
                                    <div class="card" style="width: 18rem;">
                                        {# <img class="card-img-top" src="{{post.idUsers.profile.image.url}}" alt="Card image cap"> #}
                                        <div class="card-body">
                                            <p class="card-text">{{post.idUsers.username}}</p>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-9">
                                    <div class="col-md-9" style="margin-top: 20px">
                                        
                                        <p><b>DESCRIPTION</b></p>
                                        <p>{{post.body}}</p>
                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <div class="card" style="width: 18rem;">
                                        {# <img class="card-img-top" src="{{post.idUsers.profile.image.url}}" alt="Card image cap"> #}
                                        <div class="card-body">
                                             {% if user.is_authenticated and user != post.idUsers %}
                                                <form id="contact" method="POST" role="form"style="display: block;" enctype="multipart/form-data">
                                                    {% csrf_token %}
                                                    {% comment %} Ini Perubahan {% endcomment %}
                                                    <input name = "body" class="form-control" type="hidden" value="Kontak Dilihat Oleh {{user.username}}" id="example-time-input">
                                                    <input name = "idPosts" class="form-control" type="hidden" value="{{post.pk}}" id="example-time-input">
                                                    <input name = "idUsers" class="form-control" type="hidden" value="{{user.pk}}" id="example-time-input">
                                                    <input name = "idPostUser" class="form-control" type="hidden" value="{{post.idUsers.pk}}" id="example-time-input">
                                                    <button type="submit" name="submit" id="submit" tabindex="4" class="button3">Contact</button> 
                                                    <!-- Button trigger modal -->
                                                    <button type="button" class="button3" data-toggle="modal" data-target="#exampleModalCenter">Launch demo modal</button>    
                                                </form>
                                                {% comment %} <a class="btn btn-default" href="{% url 'blog-kontak' idPost=post.pk %}"><span class="glyphicon glyphicon-pencil">Contact</span></a>     {% endcomment %}

                                                {% comment %} {% set logPostId = 0 %} {% endcomment %}
                                                {% comment %} {% set logUserId = 0 %} {% endcomment %}
                                                {% comment %} {% for log in logs %}
                                                    {% if log.idUsers.pk == user.pk %}
                                                    {% with logUserId=log.idUsers.pk %}
                                                    <p>Log User{{logUserId}}</p>
                                                    {% endwith %}
                                                    {% endif %}
                                                    {% if log.idPosts.pk == post.pk %}
                                                    {% with logPostId=log.idPosts.pk %}
                                                    <p>Log Pos{{logPostId}}</p>
                                                    {% endwith %}
                                                    {% endif %}
                                                {% endfor %} {% endcomment %}
                                                    {% comment %} <p>Log User diluar for{{logUserId}}</p> {% endcomment %}
                                            
                                                {% comment %} <p>{{logPostId}}</p> {% endcomment %}
                                                {% comment %} {% if logs.idUsers.pk == user.pk and logs.idPosts == post.pk %} {% endcomment %}

                                                    <!-- Modal -->                                                
                                                    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                                    <div class="modal-dialog modal-dialog-centered" role="document">
                                                        <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h5 class="modal-title" id="exampleModalLongTitle">Contact Info</h5>
                                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                            <span aria-hidden="true">&times;</span>
                                                            </button>
                                                        </div>
                                                        <div class="modal-body">
                                                            {% comment %} Ditulis disini kontak {% endcomment %}
                                                            {{post.idUsers.email}} <br>
                                                            {{post.idUsers.profile.phone}} <br>
                                                            {{post.idUsers.profile.line}} <br>
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                        </div>
                                                        </div>
                                                    </div>
                                                    </div>
                                                {% comment %} {% endif %} {% endcomment %}

                                            {% endif %} 
                                        </div> 
                                    </div>
                                </div>

                                <div class="col-md-12">
                                    <br>
                                    <legend></legend>
                                    <div class="col-md-4">
                                        <p><b>MAPS</b></p>
                                        <p><b>({{post.latitude}},{{post.longitude}})</b></p>
                                        
                                        <div id="mapid" style="width: 600px; height: 400px; position: relative; outline: none;"></div>
                            
                                        <script>
                                            var lat =  {{post.latitude}} ;
                                            var lon = {{post.longitude}};
                                            var mymap = L.map('mapid').setView([lat, lon], 13);
                                            L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token={accessToken}', {
                                                attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, <a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
                                                maxZoom: 18,
                                                id: 'mapbox.streets',
                                                accessToken: 'pk.eyJ1IjoiY3JlZWV3cyIsImEiOiJjanA5OThwNXoxanYzM2tvM2JmcGFvaTQzIn0.G-5bcImruBDxNVAiomn7AA'
                                            }).addTo(mymap);

                                            var markerOptions = {
                                                title: "MyLocation",
                                                clickable: true,
                                                draggable: false
                                             }
                                             var latLng;

                                            var marker = L.marker([lat, lon], markerOptions).addTo(mymap);
                                           
                                            
                                        </script>
                                        <!--{% leaflet_map "yourmap" %}-->
                                    </div>
                                </div>
    
                               
                                
                            </div>
                        </div>
                    </div>
                    <!--end 2-->

                </div>
          </div>
          
        </section>

		
		<div class="scrollup">
			<a href="#"><i class="fa fa-chevron-up"></i></a>
		</div>


        <script src="assets/js/vendor/jquery-1.11.2.min.js"></script>
        <script src="assets/js/vendor/bootstrap.min.js"></script>

        <script src="assets/js/plugins.js"></script>
        <script src="assets/js/modernizr.js"></script>
        <script src="assets/js/main.js"></script>
{% endblock content %}
    