{% extends "blog/base.html" %}
{% load static %}
{% block content %}
        <!-- Sections -->
        <section id="business" class="portfolio sections">
            <div class="container">
                <div class="head_title text-center">
                    <h1>Choose Your Category</h1>
                    <p>Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum. Duis mollis, est non commodo luctus,
                        nisi erat porttitor ligula.</p>
                </div>
        
                <div class="row">
                    <div class="portfolio-wrapper text-center">
                        <a href="{% url 'blog-search-cat' 1 %}">
                            <div class="col-md-3 col-sm-6 col-xs-12">
                                <div class="community-edition">
                                    <i class="fa fa-book"></i>
                                    <div class="separator"></div>
                                    <h4>Laptop</h4>
                                    <p>Visually explore your data through a free-form drag-and-drop canvas, a broad range of modern
                                        data visualizations, and an easy-to-use report authoring experience.</p>
                                </div>
                            </div>
                        </a>
                        <a href="{% url 'blog-search-cat' 2 %}">
                            <div class="col-md-3 col-sm-6 col-xs-12">
                                <div class="community-edition">
                                    <i class="fa fa-bug"></i>
                                    <div class="separator"></div>
                                    <h4>Mobil</h4>
                                    <p>Visually explore your data through a free-form drag-and-drop canvas, a broad range of modern
                                        data visualizations, and an easy-to-use report authoring experience.</p>
                                </div>
                            </div>
                        </a>
                        <a href="{% url 'blog-search-cat' 3 %}">
                            <div class="col-md-3 col-sm-6 col-xs-12">
                                <div class="community-edition">
                                    <i class="fa fa-gears"></i>
                                    <div class="separator"></div>
                                    <h4>Motor</h4>
                                    <p>Visually explore your data through a free-form drag-and-drop canvas, a broad range of modern
                                        data visualizations, and an easy-to-use report authoring experience.</p>
                                </div>
                            </div>
                        </a>
                        <a href="{% url 'blog-search' %}">
                            <div class="col-md-3 col-sm-6 col-xs-12">
                                <div class="community-edition">
                                    <i class="fa fa-external-link"></i>
                                    <div class="separator"></div>
                                    <h4>Category Four</h4>
                                    <p>Visually explore your data through a free-form drag-and-drop canvas, a broad range of modern
                                        data visualizations, and an easy-to-use report authoring experience.</p>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
        
                <!-- Example row of columns -->
                <div class="row">
                    <div class="portfolio-wrapper2 text-center">
                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <div class="community-edition">
                                <i class="fa fa-coffee"></i>
                                <div class="separator"></div>
                                <h4>Category Five</h4>
                                <p>Visually explore your data through a free-form drag-and-drop canvas, a broad range of modern
                                    data visualizations, and an easy-to-use report authoring experience.</p>
                            </div>
                        </div>
        
                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <div class="community-edition">
                                <i class="fa fa-tree"></i>
                                <div class="separator"></div>
                                <h4>Category Six</h4>
                                <p>Visually explore your data through a free-form drag-and-drop canvas, a broad range of modern
                                    data visualizations, and an easy-to-use report authoring experience.</p>
                            </div>
                        </div>
        
                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <div class="community-edition">
                                <i class="fa fa-paper-plane-o"></i>
                                <div class="separator"></div>
                                <h4>Category Seven</h4>
                                <p>Visually explore your data through a free-form drag-and-drop canvas, a broad range of modern
                                    data visualizations, and an easy-to-use report authoring experience.</p>
                            </div>
                        </div>
        
                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <div class="community-edition">
                                <i class="fa fa-folder-open"></i>
                                <div class="separator"></div>
                                <h4>Category Eight</h4>
                                <p>Visually explore your data through a free-form drag-and-drop canvas, a broad range of modern
                                    data visualizations, and an easy-to-use report authoring experience.</p>
                            </div>
                        </div>
        
                    </div>
                </div>
            </div> <!-- /container -->
        </section>
        
        
        <section id="contact" class="contact sections">
            <div class="container">
                <div class="row">
                    <div class="main_contact whitebackground">
                        <div class="head_title text-center">
                            <h2>GET IN TOUCH</h2>
                            <p>Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum. Duis mollis, est non commodo
                                luctus, nisi erat porttitor ligula.</p>
                        </div>
                        <div class="contact_content">
                            <div class="col-md-6">
                                <div class="single_left_contact">
                                    <form action="#" id="formid">
        
                                        <div class="form-group">
                                            <input type="text" class="form-control" name="name" placeholder="first name"
                                                required="">
                                        </div>
        
                                        <div class="form-group">
                                            <input type="email" class="form-control" name="email" placeholder="Email" required="">
                                        </div>
        
        
                                        <div class="form-group">
                                            <textarea class="form-control" name="message" rows="8" placeholder="Message"></textarea>
                                        </div>
        
                                        <div class="center-content">
                                            <input type="submit" value="Submit" class="btn btn-default">
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="single_right_contact">
                                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat
                                        mattis eros. Nullam malesuada erat ut turpis. Suspendisse urna nibh, viverra non,
                                        semper suscipit, posuere a, pede.</p>
        
                                    <div class="contact_address margin-top-40">
                                        <span>1600 Pennsylvania Ave NW, Washington,</span>
                                        <span>DC 20500, United States of America.</span>
                                        <span class="margin-top-20">T: (202) 456-1111</span>
                                        <span>M: (202) 456-1212</span>
                                    </div>
        
                                    <div class="contact_socail_bookmark">
                                        <a href=""><i class="fa fa-facebook"></i></a>
                                        <a href=""><i class="fa fa-twitter"></i></a>
                                        <a href=""><i class="fa fa-google"></i></a>
                                    </div>
        
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section><!-- End of Contact Section -->
{% endblock content %}