{% extends "blog/base.html" %}
{% load static %}
{% block content %}
        <!-- Sections -->
        <section id="business" class="portfolio sections">
            <div class="container">
                <div class="head_title text-center">
                    <h1>Choose Your Category</h1>
                    <p>Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum. Duis mollis, est non commodo luctus,
                        nisi erat porttitor ligula.</p>
                </div>
        
                <div class="row">
                    <div class="portfolio-wrapper text-center">
                        <a href="{% url 'blog-search-cat' 1 %}">
                            <div class="col-md-3 col-sm-6 col-xs-12">
                                <div class="community-edition">
                                    <i class="fa fa-book"></i>
                                    <div class="separator"></div>
                                    <h4>Laptop</h4>
                                    <p>Visually explore your data through a free-form drag-and-drop canvas, a broad range of modern
                                        data visualizations, and an easy-to-use report authoring experience.</p>
                                </div>
                            </div>
                        </a>
                        <a href="{% url 'blog-search-cat' 2 %}">
                            <div class="col-md-3 col-sm-6 col-xs-12">
                                <div class="community-edition">
                                    <i class="fa fa-bug"></i>
                                    <div class="separator"></div>
                                    <h4>Mobil</h4>
                                    <p>Visually explore your data through a free-form drag-and-drop canvas, a broad range of modern
                                        data visualizations, and an easy-to-use report authoring experience.</p>
                                </div>
                            </div>
                        </a>
                        <a href="{% url 'blog-search-cat' 3 %}">
                            <div class="col-md-3 col-sm-6 col-xs-12">
                                <div class="community-edition">
                                    <i class="fa fa-gears"></i>
                                    <div class="separator"></div>
                                    <h4>Motor</h4>
                                    <p>Visually explore your data through a free-form drag-and-drop canvas, a broad range of modern
                                        data visualizations, and an easy-to-use report authoring experience.</p>
                                </div>
                            </div>
                        </a>
                        <a href="{% url 'blog-search' %}">
                            <div class="col-md-3 col-sm-6 col-xs-12">
                                <div class="community-edition">
                                    <i class="fa fa-external-link"></i>
                                    <div class="separator"></div>
                                    <h4>Category Four</h4>
                                    <p>Visually explore your data through a free-form drag-and-drop canvas, a broad range of modern
                                        data visualizations, and an easy-to-use report authoring experience.</p>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
        
                <!-- Example row of columns -->
                <div class="row">
                    <div class="portfolio-wrapper2 text-center">
                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <div class="community-edition">
                                <i class="fa fa-coffee"></i>
                                <div class="separator"></div>
                                <h4>Category Five</h4>
                                <p>Visually explore your data through a free-form drag-and-drop canvas, a broad range of modern
                                    data visualizations, and an easy-to-use report authoring experience.</p>
                            </div>
                        </div>
        
                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <div class="community-edition">
                                <i class="fa fa-tree"></i>
                                <div class="separator"></div>
                                <h4>Category Six</h4>
                                <p>Visually explore your data through a free-form drag-and-drop canvas, a broad range of modern
                                    data visualizations, and an easy-to-use report authoring experience.</p>
                            </div>
                        </div>
        
                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <div class="community-edition">
                                <i class="fa fa-paper-plane-o"></i>
                                <div class="separator"></div>
                                <h4>Category Seven</h4>
                                <p>Visually explore your data through a free-form drag-and-drop canvas, a broad range of modern
                                    data visualizations, and an easy-to-use report authoring experience.</p>
                            </div>
                        </div>
        
                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <div class="community-edition">
                                <i class="fa fa-folder-open"></i>
                                <div class="separator"></div>
                                <h4>Category Eight</h4>
                                <p>Visually explore your data through a free-form drag-and-drop canvas, a broad range of modern
                                    data visualizations, and an easy-to-use report authoring experience.</p>
                            </div>
                        </div>
        
                    </div>
                </div>
            </div> <!-- /container -->
        </section>
        
{% endblock content %}