{% extends "blog/base.html "%}
{% load static %}
{% block content %}
    <!-- Sections -->
    <section id="business" class="portfolio sections">
        <div class="container">
            <div class="row">
                <!--1-->
                <div class="col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <!-- <div class="pull-right">
                                            <button type="button" class="close" aria-label="Close">
                                              <span aria-hidden="true">×</span>
                                            </button>
                                        </div>-->
                        </div>
                        <form class="panel-body" method="POST" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="row">
                                <div class="col-sm-2 col-md-2">
                                    <img src="{{user.profile.image.url}}"
                                        alt="" class="img-rounded img-responsive" />
                                </div>
    
                                <div class="col-sm-8 col-md-8">
                                    <blockquote>
                                        <h3 style="color :coral">Edit Profile</h3>
                                    </blockquote>
    
                                    <div class="form-row">
                                        <div class="col-sm-6">
                                            <label for="validationCustom01"></label>
                                            <input type="text" class="form-control" name="first_name" id="first_name" placeholder="First name"
                                                value="{{user.first_name}}" required>
                                        </div>
    
                                        <div class="col-sm-6">
                                            <label for="validationCustom02"></label>
                                            <input type="text" class="form-control" name="last_name" id="last_name" placeholder="Last name"
                                                value="{{user.last_name}}" required>
                                        </div>
                                    </div>
    
                                    <div class="form-row">
                                        <div class="col-sm-12">
                                            <label for="validationCustom01"></label>
                                            <input type="text" class="form-control" name="username" id="username" placeholder="First name"
                                                value="{{user.username}}" required>
                                        </div>
                                    </div>
                                    <!-- <div class="form-row">
                                        <div class="col-sm-12">
                                            <label for="validationCustom01"></label>
                                            <input type="password" class="form-control" name="password" id="password" placeholder="Old Password" value=""
                                                required>
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="col-sm-6">
                                            <label for="validationCustom01"></label>
                                            <input type="password" class="form-control" name="password1" id="password1" placeholder="Password"
                                                value="" required>
                                        </div>
    
                                        <div class="col-sm-6">
                                            <label for="validationCustom02"></label>
                                            <input type="password" class="form-control" name="password2" id="password2" placeholder="Confirmation Password"
                                                value="" required>
                                        </div>
                                    </div> -->
    
                                    <div class="form-row">
                                        <div class="col-sm-12">
                                            <label for="validationCustom01"></label>
                                            <input type="text" class="form-control" name="email" id="email" placeholder="Email"
                                                value="{{user.email}}" required>
                                        </div>
                                    </div>
    
                                    <div class="form-row">
                                        <div class="col-sm-6">
                                            <label for="validationCustom01"></label>
                                            <input type="text" class="form-control" name="line" id="line" placeholder="Line"
                                                value="{{user.profile.line}}" required>
                                        </div>
    
                                        <div class="col-sm-6">
                                            <label for="validationCustom02"></label>
                                            <input type="text" class="form-control" name="phone" id="phone" placeholder="Phone"
                                                value="{{user.profile.phone}}" required>
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="col-sm-6">
                                            <label for="validationCustom01">Choose File</label>
                                            <img id="img_id" src="#" alt="your image"/>
                                        </div>
                                    
                                        <div class="col-sm-6">
                                            <label for="validationCustom01"></label>
                                            <input name="image" onchange="upload_img(this);" type="file" class="btn btn-success">
                                        </div>
                                    </div>
                                    <div class="col-sm-12">
                                        <label for="validationCustom01"></label>
                                        <button type="submit" class="btn btn-success">Submit</button>
                                    </div>
                                </div>
    
                            </div>
                        </form>
                    </div>
                </div>
                <!--end1-->
            </div>
        </div>
    </section>

     <script type="text/javascript">


        function upload_img(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    $('#img_id').attr('src', e.target.result);
                }

                reader.readAsDataURL(input.files[0]);
            }
        }

    </script>

{% endblock content %}
